In [1]:
import pandas as pd
import numpy as np
np.random.seed(1)

In [2]:
df = pd.util.testing.makeTimeDataFrame()

/workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages/pandas/util/__init__.py:16: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

In [3]:
df

                   A         B         C         D
2000-01-03  1.624345 -0.691661 -0.754398  1.198918
2000-01-04 -0.611756 -0.396754  1.252868  0.185156
2000-01-05 -0.528172 -0.687173  0.512930 -0.375285
2000-01-06 -1.072969 -0.845206 -0.298093 -0.638730
2000-01-07  0.865408 -0.671246  0.488518  0.423494
2000-01-10 -2.301539 -0.012665 -0.075572  0.077340
2000-01-11  1.744812 -1.117310  1.131629 -0.343854
2000-01-12 -0.761207  0.234416  1.519817  0.043597
2000-01-13  0.319039  1.659802  2.185575 -0.620001
2000-01-14 -0.249370  0.742044 -1.396496  0.698032
2000-01-17  1.462108 -0.191836 -1.444114 -0.447129
2000-01-18 -2.060141 -0.887629 -0.504466  1.224508
2000-01-19 -0.322417 -0.747158  0.160037  0.403492
2000-01-20 -0.384054  1.692455  0.876169  0.593579
2000-01-21  1.133769  0.050808  0.315635 -1.094912
2000-01-24 -1.099891 -0.636996 -2.022201  0.169382
2000-01-25 -0.172428  0.190915 -0.306204  0.740556
2000-01-26 -0.877858  2.100255  0.827975 -0.953701
2000-01-27  0.042214  0.120159  0.230095 -0.266219
2000-01-28  0.582815  0.617203  0.762011  0.032615
2000-01-31 -1.100619  0.300170 -0.222328 -1.373117
2000-02-01  1.144724 -0.352250 -0.200758  0.315159
2000-02-02  0.901591 -1.142518  0.186561  0.846161
2000-02-03  0.502494 -0.349343  0.410052 -0.859516
2000-02-04  0.900856 -0.208894  0.198300  0.350546
2000-02-07 -0.683728  0.586623  0.119009 -1.312283
2000-02-08 -0.122890  0.838983 -0.670662 -0.038696
2000-02-09 -0.935769  0.931102  0.377564 -1.615772
2000-02-10 -0.267888  0.285587  0.121821  1.121418
2000-02-11  0.530355  0.885141  1.129484  0.408901

In [ ]:
df.to_csv('0323.csv')

预期结果：

第一行为：

In [4]:
result_1 = df.iloc[:20].corr(method='spearman').mean()
result_1.name = df.index[19]
result_1 = result_1.to_frame().T
result_1

                   A         B         C         D
2000-01-28  0.239098  0.283083  0.262406  0.098872

第二行为：

In [5]:
result_2 = df.iloc[1:21].corr(method='spearman').mean()
result_2.name = df.index[20]
result_2 = result_2.to_frame().T
result_2

                   A         B         C         D
2000-01-31  0.288722  0.287594  0.321429  0.137594